#header {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  max-width: 200px;
  font-weight: normal;
  margin: 0;
}
.nav-parent {
  display: flex;
  margin: 5px 0 20px;
}
.nav-child {
  margin: 15px;
  text-decoration: none;
  color: #b83c3c;
  font-weight: bold;
}
.nav-active {
  text-decoration: underline;
}
